{% extends "layout.html" %}

{% block title %}
    Nouria Posts Lists
{% endblock %}

{% block content %}
    <h1>Posts :</h1>
    <section>
        {% for post in posts %}
            <artical class="post">
                <h2>
                    <a href="{% url 'posts:page' slug=post.slug %}">
                    {{ post.title }}
                    </a>
                </h2>
                <p>{{ post.date }}</p>
                <p>{{ post.body }}</p>
            </artical>
    </section>
        {% endfor %}
{% endblock %}